<header class="mb-auto">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Andradam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-link active" aria-current="page" href="{{ "/special" | relURL }}">சிறப்பு</a>
              <a class="nav-link" href="{{ "/sports" | relURL }}">விளையாட்டு</a>
              <!-- <a class="nav-link" href="{{ "/spritual" | relURL }}">ஆன்மிகம்</a> -->
              <a class="nav-link" href="{{ "/cinema" | relURL }}">சினிமா 1</a>
              <a class="nav-link" href="{{ "/gallery" | relURL }}">கலைக்காட்சி</a>
              <a class="nav-link" href="{{ "/updates" | relURL }}">புதுப்பிப்புகள்</a>
              <a class="nav-link text-dark active " aria-current="page" href="{{ "/blog" | relURL }}">தொழில்நுட்பம்</a>
              <a class="nav-link text-dark" href="{{ "/talks" | relURL }}">ஆன்மிகம்</a>
              <!--  <a class="nav-link text-dark" href="{{ "/team" | relURL }}">Team</a> -->
            </div>
        </div>
    </div>
  </nav>

</header>  