<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Andradam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ "/special" | relURL }}">சிறப்பு</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="{{ "/sports" | relURL }}">விளையாட்டு</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/spritual" | relURL }}">ஆன்மிகம்</a>
            </li>
            <li class="nav-item">            
              <a class="nav-link" href="{{ "/cinema" | relURL }}">சினிமா</a>
            </li>
            <li class="nav-item">            
              <a class="nav-link" href="{{ "/gallery" | relURL }}">கலைக்காட்சி</a>
            </li>
            <li class="nav-item">            
              <a class="nav-link" href="{{ "/updates" | relURL }}">புதுப்பிப்புகள்</a>
            </li>
            
           </ul>
        </div>
      </div>
    </div>
  </nav>

  