{{ define "main" }}

        <main class="px-3 text-center">

          <h1>Welcome to Andradam</h1>
          <h3 class="pt-3">We are provide latest news update.</a>!</h3>
          <button class="btn btn-primary mt-4">Touch with us</button>
            <p class="justify-content-center mt-4">
                <a href="https://github.com/bojug" class="btn btn-outline-info btn-sm">
                    <i class="fab fa-github"></i>
                </a>
                <a href="" class="btn btn-outline-info btn-sm">
                    <i class="fab fa-meetup"></i>
                </a>
                <a href="" class="btn btn-outline-info btn-sm mr-3">
                    <i class="fab fa-youtube"></i>
                </a>
                
            </p>

           
        </main>

{{ end }}
